openapi: '3.0.3'
info:
  title: CAB System API Documentation
  description: 'Tài liệu API OpenAPI 3.0 cho Hệ thống Đặt xe CAB System. Chỉ sử dụng 4 phương thức HTTP: GET, POST, PUT, DELETE.'
  version: '1.0.0'
  contact:
    name: Vo Thi Tuyet Ngan
    email: support@cab-system.com
servers:
  - url: https://api.cab-system.com/v1
    description: Production Server
  - url: http://localhost:8080/v1
    description: Development Server
tags:
  - name: Auth
    description: Xác thực & Phân quyền
  - name: Customers
    description: Quản lý thông tin khách hàng
  - name: Drivers
    description: Quản lý tài xế & phương tiện
  - name: Trips
    description: Quản lý chuyến đi & Đặt xe
  - name: Payments
    description: Tính cước & Thanh toán
  - name: Notifications
    description: Hệ thống thông báo
  - name: Reports
    description: Báo cáo & Thống kê
paths:
  '/auth/register':
    post:
      tags:
        - Auth
      summary: 'Đăng ký tài khoản mới (Khách hàng / Tài xế)'
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: 'Tạo tài khoản thành công'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: 'Thông tin không hợp lệ hoặc tài khoản đã tồn tại'
  '/auth/login':
    post:
      tags:
        - Auth
      summary: 'Đăng nhập hệ thống'
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 'Đăng nhập thành công'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: 'Sai thông tin đăng nhập'
  '/auth/logout':
    post:
      tags:
        - Auth
      summary: 'Đăng xuất khỏi hệ thống'
      operationId: logoutUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 'Đăng xuất thành công'
  '/customers/profile':
    get:
      tags:
        - Customers
      summary: 'Xem thông tin cá nhân khách hàng'
      operationId: getCustomerProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
    put:
      tags:
        - Customers
      summary: 'Cập nhật thông tin cá nhân khách hàng'
      operationId: updateCustomerProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: 'Cập nhật thông tin thành công'
  '/drivers/profile':
    get:
      tags:
        - Drivers
      summary: 'Xem hồ sơ tài xế'
      operationId: getDriverProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
    put:
      tags:
        - Drivers
      summary: 'Cập nhật hồ sơ tài xế'
      operationId: updateDriverProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverProfile'
      responses:
        '200':
          description: 'Cập nhật hồ sơ thành công'
  '/drivers/vehicle':
    get:
      tags:
        - Drivers
      summary: 'Xem thông tin phương tiện'
      operationId: getVehicleInfo
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
    put:
      tags:
        - Drivers
      summary: 'Cập nhật thông tin phương tiện'
      operationId: updateVehicleInfo
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vehicle'
      responses:
        '200':
          description: 'Cập nhật phương tiện thành công'
  '/drivers/status':
    put:
      tags:
        - Drivers
      summary: 'Cập nhật trạng thái sẵn sàng nhận chuyến'
      operationId: updateDriverStatus
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 'Cập nhật trạng thái thành công'
  '/trips':
    get:
      tags:
        - Trips
      summary: 'Tra cứu lịch sử / danh sách chuyến đi'
      operationId: getTrips
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Trips
      summary: 'Tạo mới yêu cầu đặt xe'
      operationId: createTrip
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTripRequest'
      responses:
        '201':
          description: 'Tạo yêu cầu đặt xe thành công'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
  '/trips/{trip_id}':
    get:
      tags:
        - Trips
      summary: 'Xem thông tin chi tiết chuyến đi'
      operationId: getTripDetails
      security:
        - BearerAuth: []
      parameters:
        - name: trip_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
    put:
      tags:
        - Trips
      summary: 'Cập nhật trạng thái chuyến đi (Nhận chuyến/Từ chối/Đón/Hoàn thành)'
      operationId: updateTripState
      security:
        - BearerAuth: []
      parameters:
        - name: trip_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 'Cập nhật thành công'
    delete:
      tags:
        - Trips
      summary: 'Hủy chuyến đi'
      operationId: cancelTrip
      security:
        - BearerAuth: []
      parameters:
        - name: trip_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Đã hủy chuyến đi thành công'
  '/trips/{trip_id}/rating':
    post:
      tags:
        - Trips
      summary: 'Đánh giá tài xế'
      operationId: rateDriver
      security:
        - BearerAuth: []
      parameters:
        - name: trip_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: 'Đã ghi nhận đánh giá'
  '/payments/calculate':
    post:
      tags:
        - Payments
      summary: 'Tính toán cước phí chuyến đi'
      operationId: calculateFare
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
  '/payments':
    get:
      tags:
        - Payments
      summary: 'Tra cứu danh sách / lịch sử giao dịch thanh toán'
      operationId: getPayments
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - Payments
      summary: 'Thực hiện thanh toán giao dịch'
      operationId: processPayment
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
  '/notifications':
    get:
      tags:
        - Notifications
      summary: 'Xem danh sách thông báo'
      operationId: getNotifications
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 'Lấy danh sách thông báo thành công'
    post:
      tags:
        - Notifications
      summary: 'Gửi thông báo mới'
      operationId: sendNotification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 'Gửi thông báo thành công'
  '/reports/summary':
    get:
      tags:
        - Reports
      summary: 'Tổng hợp, thống kê báo cáo hoạt động'
      operationId: getReports
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    RegisterRequest:
      type: object
      properties:
        phone:
          type: string
          example: 0987654321
        password:
          type: string
          example: 123456
        full_name:
          type: string
          example: Vo Thi Tuyet Ngan
        role:
          type: string
          example: CUSTOMER
    LoginRequest:
      type: object
      properties:
        phone:
          type: string
          example: 0987654321
        password:
          type: string
          example: 123456
    AuthResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOi...
        user_id:
          type: string
          example: usr_001
    UserProfile:
      type: object
      properties:
        id:
          type: string
        full_name:
          type: string
        phone:
          type: string
    UpdateProfileRequest:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
    DriverProfile:
      type: object
      properties:
        id:
          type: string
        full_name:
          type: string
        license_number:
          type: string
    Vehicle:
      type: object
      properties:
        plate_number:
          type: string
        brand:
          type: string
        model:
          type: string
    CreateTripRequest:
      type: object
      properties:
        pickup_address:
          type: string
        dropoff_address:
          type: string
        vehicle_type:
          type: string
    Trip:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        pickup_address:
          type: string
        dropoff_address:
          type: string
        fare_amount:
          type: number
    Transaction:
      type: object
      properties:
        id:
          type: string
        trip_id:
          type: string
        amount:
          type: number
        status:
          type: string
